In [1]:
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.3.4)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install requests
import pandas as pd
import requests
import numpy as np

Requirement already satisfied: requests in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.11.12)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

**Extraindo os dados**

In [3]:
# Criação dos dicionários para os arquivos.
arquivos = {
    "2024": "http://dados.recife.pe.gov.br/dataset/ce5168d4-d925-48f5-a193-03d4e0f587c7/resource/96f8a467-12b1-4340-b19c-281907fabaae/download/situacaofinal2024.csv",
    "2023": "http://dados.recife.pe.gov.br/dataset/ce5168d4-d925-48f5-a193-03d4e0f587c7/resource/854da2d7-c34b-457f-97b9-ba217d489621/download/situacaofinal2023.csv",
    "2022": "http://dados.recife.pe.gov.br/dataset/ce5168d4-d925-48f5-a193-03d4e0f587c7/resource/9e22fc25-716f-4454-8d95-998894b6ce01/download/situacaofinal2022.csv",
}

lista_frames = [] # Armazenamento dos dataframes.

for ano, url in arquivos.items():
  try:
    nome_arquivo = f"situacaofinal{ano}.csv" # Nome do arquivo baseado no ano.
    response = requests.get(url) # Requisição HTTP para baixar o arquivo.
    response.raise_for_status() # Verifica se a requisição foi bem-sucedida.

    # Open file in binary mode by adding a b.
    with open("content/"+nome_arquivo, "wb") as f:
      f.write(response.content)  # Criando o arquivo localmente.
      print(f"Arquivo {nome_arquivo} baixado com sucesso")  # Confirmação do download.
    
    df = pd.read_csv("content/"+nome_arquivo, sep=None, engine='python') # Como está utilizando ; e , como separadores, é necessário usar o engine python.
    lista_frames.append(df)  # Adicionando o dataframe à lista.

  except Exception as e:
    print(f"Erro ao baixar o arquivo {ano}: {e}")
    continue

df_final = pd.concat(lista_frames, ignore_index=True)
print(f"Total de linhas no DF Unificado: {len(df_final)}")

Arquivo situacaofinal2024.csv baixado com sucesso
Arquivo situacaofinal2023.csv baixado com sucesso
Arquivo situacaofinal2022.csv baixado com sucesso
Total de linhas no DF Unificado: 319146

**Transformação**

In [4]:
# Verificando o resultado final da extração de dados.
display(df_final.head(5))
display(df_final.info())

,ano,codigo_escola,escola,endereco_bairro,endereco_logradouro,endereco_numero,rpa,ano_ensino,modalidade_ensino_codigo,serie_codigo,modalidade_ensino,serie,turma,turno,matricula,sexo,idade,situacao_codigo,situacao_nome
0,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1º ANO,1,0,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,24731005,1,7,AP,APROVADO
1,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1º ANO,1,0,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,22035052,2,7,AP,APROVADO
2,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1º ANO,1,0,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,24020079,2,6,AP,APROVADO
3,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1º ANO,1,0,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,22104836,1,6,AP,APROVADO
4,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1º ANO,1,0,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,20719353,2,7,AP,APROVADO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319146 entries, 0 to 319145
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ano                       319146 non-null  int64
 1   codigo_escola             319146 non-null  int64
 2   escola                    319146 non-null  object
 3   endereco_bairro           319146 non-null  object
 4   endereco_logradouro       292628 non-null  object
 5   endereco_numero           319146 non-null  object
 6   rpa                       319146 non-null  int64
 7   ano_ensino                319146 non-null  object
 8   modalidade_ensino_codigo  319146 non-null  int64
 9   serie_codigo              318914 non-null  object
 10  modalidade_ensino         319146 non-null  object
 11  serie                     318914 non-null  object
 12  turma                     319146 non-null  object
 13  turno                     319146 non-null  object
 14  matricula                 319146 non-null  int64
 15  sexo                      319146 non-null  int64
 16  idade                     319146 non-null  int64
 17  situacao_codigo           319146 non-null  object
 18  situacao_nome             319146 non-null  object
dtypes: int64(7), object(12)
memory usage: 46.3+ MB

None

**Verificando valores únicos em cada uma das colunas**

In [5]:
df_final.nunique(dropna=False) # Verificando a quantidade de valores únicos por coluna.

ano                              3
codigo_escola                  433
escola                         433
endereco_bairro                 81
endereco_logradouro            298
endereco_numero                258
rpa                              6
ano_ensino                      38
modalidade_ensino_codigo         4
serie_codigo                    11
modalidade_ensino                6
serie                           40
turma                           23
turno                            5
matricula                   154008
sexo                             3
idade                           90
situacao_codigo                 14
situacao_nome                   14
dtype: int64

Foram identificadas algumas incoerências nos dados:
* Existem QUATRO códigos de modalidade de ensino, mas existem SEIS modalide_ensino
* Série possui TRINTA E NOVE valores, enquanto ano_ensino possui TRINTA E OITO. 
* Ademais, ambos possuem os mesmos dados com os mesmos erros de digitação.
* Diversas situações em situacao_nome e situacao_codigo podem ser simplificadas para 'Aprovado, reprovado e transferido'
* Falta de clareza na identificação dos sexos dos alunos (1, 2, 3)

**Verificando nomes únicos em cada coluna**

In [6]:
# Verificação de repetição desnecessária ou ambiguidades nos dados.

print('Valores por colunas:')
print(f"Valores únicos da coluna: 'modalidade_ensino': {df_final['modalidade_ensino'].unique()}")
print()
print(f"Valores únicos da coluna: 'série': {df_final['serie'].unique()}")
print()
print(f"Valores únicos da coluna: 'sexo': {df_final['sexo'].unique()}")
print()
print(f"Valores únicos da coluna: 'ano_ensino': {df_final['ano_ensino'].unique()}")
print()
print(f"Valores únicos da coluna: 'situacao_nome': {df_final['situacao_nome'].unique()}")

Valores por colunas:
Valores únicos da coluna: 'modalidade_ensino': ['ENSINO FUNDAMENTAL' 'EDUCACAO JOVENS E ADULTOS' 'EDUCACAO INFANTIL'
 'CORREÇÃO DE FLUXO' 'CORREO DE FLUXO' 'EDUCACAO  JOVENS E ADULTOS']

Valores únicos da coluna: 'série': ['1º ANO' '2º ANO' '3º ANO' '4º ANO' '5º ANO' 'MODULADA' 'BERÇARIO'
 'GRUPO I' 'GRUPO II' 'GRUPO III' 'GRUPO IV' 'GRUPO V'
 'CORRECAO DE FLUXO 1 - ALFABETIZACAO' 'CORRECAO DE FLUXO 2 - ACELERACAO'
 'MÓDULO 3' '6º ANO' '7º ANO' '8º ANO' '9º ANO' 'MÓDULO 4' 'MÓDULO 5'
 'TRAVESSIA RECIFE' 'MÓDULO 1' 'MÓDULO 2' nan '1 ANO' '2 ANO' '3 ANO'
 '4 ANO' '5 ANO' 'BERRIO' 'MDULO 3' '6 ANO' '7 ANO' '8 ANO' '9 ANO'
 'MDULO 4' 'MDULO 5' 'MDULO 1' 'MDULO 2']

Valores únicos da coluna: 'sexo': [1 2 3]

Valores únicos da coluna: 'ano_ensino': ['1º ANO' '2º ANO' '3º ANO' '4º ANO' '5º ANO' 'MÓDULO 3' 'MÓDULO 2'
 'MÓDULO 1' 'BERÇARIO' 'GRUPO I' 'GRUPO II' 'GRUPO III' 'GRUPO IV'
 'GRUPO V' 'CORRECAO DE FLUXO 1 - ALFABETIZACAO'
 'CORRECAO DE FLUXO 2 - ACELERACAO' '6º ANO' '7º ANO' '8º ANO' '9º ANO'
 'MÓDULO 4' 'MÓDULO 5' 'TRAVESSIA RECIFE' '1 ANO' '2 ANO' '3 ANO' '4 ANO'
 '5 ANO' 'MDULO 3' 'MDULO 2' 'MDULO 1' 'BERRIO' '6 ANO' '7 ANO' '8 ANO'
 '9 ANO' 'MDULO 4' 'MDULO 5']

Valores únicos da coluna: 'situacao_nome': ['APROVADO' 'TR DUR ANO FORA REDE' 'RETIDO POR FALTA' 'REMANEJADO'
 'RETIDO' 'DESIST/DEIXOU FREQUE' 'TR DUR ANO P/REDE'
 'RENV S/SIT FINAL DEF' 'FALECIDO' 'APROV. POS-CONSELHO'
 'RETIDO POR IDADE' 'REPROV P/  FALTA' 'RECLASSIFICADO' 'DESISTENTE']

**Ajustando as colunas necessárias**

In [7]:
def simplificar_sexo(x):
    if x == 1:
        return "Masculino"
    elif x == 2:
        return "Feminino"
    elif x == 3:
        return "Outros"
    return None

df_final["sexo"] = df_final["sexo"].apply(simplificar_sexo)

In [ ]:
# Padronizando modelos de ensino.
def simplificar_modalidade(mod):
    if pd.isna(mod):
        return None
    
    m = str(mod).upper().strip()
    m = m.replace("  ", " ")  # remove espaços duplos

    if "EDUCACAO INFANTIL" in m:
        return "EDUCAÇÃO INFANTIL"
    
    elif "ENSINO FUNDAMENTAL" in m:
        return "ENSINO FUNDAMENTAL"

    elif "EDUCACAO JOVENS E ADULTOS" in m:
        return "EJA"

    elif "CORRE" in m:  # captura "CORREÇÃO" e "CORREO"
        return "CORREÇÃO DE FLUXO"

    return "OUTROS"

df_final["modalidade_ensino"] = df_final["modalidade_ensino"].apply(simplificar_modalidade)

In [ ]:
# Padronizando série / ano_ensino. Há muitos erros na tabela.
def simplificar_serie(valor):
    if pd.isna(valor):
        return None
    
    v = str(valor).upper().strip()

    # corrigir erros comuns
    v = v.replace("MDULO", "MÓDULO")
    v = v.replace("MODULO", "MÓDULO")
    v = v.replace("BERRIO", "BERÇARIO")
    v = v.replace("BERÇARIO", "BERÇARIO")  
    v = v.replace("ANO", "ANO")  # apenas normalização
    
    # padronizar sem acento → com acento
    if "1 ANO" in v or "1º ANO" in v:
        return "1º ANO"
    if "2 ANO" in v or "2º ANO" in v:
        return "2º ANO"
    if "3 ANO" in v or "3º ANO" in v:
        return "3º ANO"
    if "4 ANO" in v or "4º ANO" in v:
        return "4º ANO"
    if "5 ANO" in v or "5º ANO" in v:
        return "5º ANO"
    if "6 ANO" in v or "6º ANO" in v:
        return "6º ANO"
    if "7 ANO" in v or "7º ANO" in v:
        return "7º ANO"
    if "8 ANO" in v or "8º ANO" in v:
        return "8º ANO"
    if "9 ANO" in v or "9º ANO" in v:
        return "9º ANO"

    # Educação infantil
    if "BERÇARIO" in v:
        return "BERÇARIO"
    if "GRUPO I" in v:
        return "GRUPO I"
    if "GRUPO II" in v:
        return "GRUPO II"
    if "GRUPO III" in v:
        return "GRUPO III"
    if "GRUPO IV" in v:
        return "GRUPO IV"
    if "GRUPO V" in v:
        return "GRUPO V"

    # Módulos (EJA)
    if "MÓDULO 1" in v:
        return "MÓDULO 1"
    if "MÓDULO 2" in v:
        return "MÓDULO 2"
    if "MÓDULO 3" in v:
        return "MÓDULO 3"
    if "MÓDULO 4" in v:
        return "MÓDULO 4"
    if "MÓDULO 5" in v:
        return "MÓDULO 5"

    if "TRAVESSIA" in v:
        return "TRAVESSIA RECIFE"

    if "CORRECAO" in v:
        return v.replace("CORRECAO", "CORREÇÃO")

    return "OUTROS"


df_final["serie"] = df_final["serie"].apply(simplificar_serie)
df_final["ano_ensino"] = df_final["ano_ensino"].apply(simplificar_serie)

In [ ]:
# Simplificando situação final. Há muitos nomes e erros na tabela.
def simplificar_situacao(s):
    if pd.isna(s):
        return None

    v = str(s).upper().strip()

    if "APROV" in v:
        return "Aprovado"
    if "RETIDO" in v or "REPROV" in v:
        return "Reprovado"
    if "TR " in v or "REMANEJADO" in v:
        return "Transferido"
    if "DESIST" in v:
        return "Desistente"
    
    return "Outros"

df_final["situacao_nome"] = df_final["situacao_nome"].apply(simplificar_situacao)

In [ ]:
# Removendo colunas ambiguas
df_final = df_final.drop(columns=['ano_ensino'], axis=1) # Removendo as colunas ambiguas. ano_ensino e serie possuem os mesmos dados.

**Checando valores nulos**

In [12]:
print("Valores ausentes por coluna:")
print(df_final.isnull().sum())

Valores ausentes por coluna:
ano                             0
codigo_escola                   0
escola                          0
endereco_bairro                 0
endereco_logradouro         26518
endereco_numero                 0
rpa                             0
modalidade_ensino_codigo        0
modalidade_ensino               0
serie                         232
turma                           0
turno                           0
matricula                       0
sexo                            0
idade                           0
situacao_codigo                 0
situacao_nome                   0
dtype: int64

In [13]:
# Removendo valores nulos
df_final = df_final.dropna()
print("Valores ausentes por coluna:")
print(df_final.isnull().sum())

Valores ausentes por coluna:
ano                         0
codigo_escola               0
escola                      0
endereco_bairro             0
endereco_logradouro         0
endereco_numero             0
rpa                         0
modalidade_ensino_codigo    0
modalidade_ensino           0
serie                       0
turma                       0
turno                       0
matricula                   0
sexo                        0
idade                       0
situacao_codigo             0
situacao_nome               0
dtype: int64

In [14]:
# Demonstrando o resultado final: 
display(df_final.info())
display(df_final.head())

<class 'pandas.core.frame.DataFrame'>
Index: 292396 entries, 0 to 319145
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ano                       292396 non-null  int64
 1   codigo_escola             292396 non-null  int64
 2   escola                    292396 non-null  object
 3   endereco_bairro           292396 non-null  object
 4   endereco_logradouro       292396 non-null  object
 5   endereco_numero           292396 non-null  object
 6   rpa                       292396 non-null  int64
 7   modalidade_ensino_codigo  292396 non-null  int64
 8   modalidade_ensino         292396 non-null  object
 9   serie                     292396 non-null  object
 10  turma                     292396 non-null  object
 11  turno                     292396 non-null  object
 12  matricula                 292396 non-null  int64
 13  sexo                      292396 non-null  object
 14  idade                     292396 non-null  int64
 15  situacao_codigo           292396 non-null  object
 16  situacao_nome             292396 non-null  object
dtypes: int64(6), object(11)
memory usage: 40.2+ MB

None

,ano,codigo_escola,escola,endereco_bairro,endereco_logradouro,endereco_numero,rpa,modalidade_ensino_codigo,modalidade_ensino,serie,turma,turno,matricula,sexo,idade,situacao_codigo,situacao_nome
0,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,24731005,Masculino,7,AP,Aprovado
1,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,22035052,Feminino,7,AP,Aprovado
2,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,24020079,Feminino,6,AP,Aprovado
3,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,22104836,Masculino,6,AP,Aprovado
4,2024,146,ABILIO GOMES,BOA VIAGEM,BRUNO VELOZO,S/N,6,1,ENSINO FUNDAMENTAL,1º ANO,A,MANHÃ,20719353,Feminino,7,AP,Aprovado

**Carregando os dados como um esquema estrela e injetando no Banco de Dados postregreSQL**

In [15]:
!pip install sqlalchemy
!pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.9.11)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:

# Definindo uma função auxiliar para gerar a Faixa Etária (DIM_ALUNO)
def criar_faixa_etaria(idade):
    """Classifica a idade do aluno em faixas etárias."""
    if idade <= 3:
        return '0-3 Anos (Educação Infantil)'
    elif idade <= 5:
        return '4-5 Anos (Pré-escola)'
    elif idade <= 10:
        return '6-10 Anos (Fundamental I)'
    elif idade <= 14:
        return '11-14 Anos (Fundamental II)'
    elif idade >= 15:
        return '15+ Anos (EJA e Outros)'
    return 'Não Informado'

# Definindo uma função auxiliar para gerar a Descrição da RPA (DIM_LOCALIZACAO)
def criar_desc_rpa(rpa):
    """Mapeia o código RPA para a descrição da Região Político-Administrativa de Recife."""
    rpa_map = {
        1: 'RPA 1 (Centro)',
        2: 'RPA 2 (Zona Norte)',
        3: 'RPA 3 (Zona Oeste)',
        4: 'RPA 4 (Zona Sudoeste)',
        5: 'RPA 5 (Zona Sul)',
        6: 'RPA 6 (Zona Sudeste)'
    }
    return rpa_map.get(rpa, 'RPA Não Identificada')

# Padronizar nomes em df_final UMA VEZ
df_final = df_final.rename(columns={
    'escola': 'nome_escola',
    'endereco_logradouro': 'endereco_logra',
    'modalidade_ensino_codigo': 'mod_ens_codigo',
    'modalidade_ensino': 'modalidade_ens'
})

# 1. Criando a Dimensão Aluno (DIM_ALUNO)
print("1. Criando a Dimensão Aluno (DIM_ALUNO)...")
colunas_aluno = ['matricula', 'sexo', 'idade'] # Usamos a 'matricula' como base para identificar alunos únicos
dim_aluno = df_final[colunas_aluno].drop_duplicates().reset_index(drop=True) # Removemos duplicatas
dim_aluno['faixa_etaria'] = dim_aluno['idade'].apply(criar_faixa_etaria)
dim_aluno = dim_aluno.reset_index().rename(columns={'index': 'id_aluno'}) # PK: id_aluno
print(f"Dimensão Aluno criada: {len(dim_aluno)} alunos únicos.")
print("-" * 50)


# 2. Criando a Dimensão Escola (DIM_ESCOLA)
print("2. Criando a Dimensão Escola (DIM_ESCOLA)...")
colunas_escola = ['codigo_escola', 'nome_escola', 'endereco_logra', 'endereco_bairro', 'endereco_numero', 'rpa']
dim_escola = df_final[colunas_escola].drop_duplicates(subset=['codigo_escola']).reset_index(drop=True) # Removemos duplicatas baseadas no código da escola


dim_escola = dim_escola.reset_index().rename(columns={'index': 'id_escola'}) # PK: id_escola
print(f"Dimensão Escola criada: {len(dim_escola)} escolas únicas.")
print("-" * 50)


# 3. Criando a Dimensão Turma (DIM_TURMA)
print("3. Criando a Dimensão Turma (DIM_TURMA)...")
colunas_turma = ['turma', 'turno', 'serie', 'mod_ens_codigo', 'modalidade_ens']
dim_turma = df_final[colunas_turma].drop_duplicates().reset_index(drop=True) # Removemos duplicatas
dim_turma = dim_turma.reset_index().rename(columns={'index': 'id_turma'}) # PK: id_turma
print(f"Dimensão Turma criada: {len(dim_turma)} combinações de turma/turno/série/modalidade.")
print("-" * 50)


# 4. Criando a Dimensão Situação (DIM_SITUACAO)
print("4. Criando a Dimensão Situação (DIM_SITUACAO)...")
colunas_situacao = ['situacao_codigo', 'situacao_nome']
dim_situacao = df_final[colunas_situacao].drop_duplicates().reset_index(drop=True) # Removemos duplicatas

# Inferindo colunas adicionais conforme o diagrama:
def classificar_situacao(nome):
    """Classifica a situação em Aprovado, Reprovado, Transferido, Desistente ou Outros."""
    if nome == 'Aprovado':
        return 'APROVADO'
    if nome == 'Reprovado':
        return 'REPROVADO'
    if nome == 'Transferido':
        return 'TRANSFERIDO'
    if nome == 'Desistente':
        return 'DESISTENTE'
    return 'OUTROS'

dim_situacao['categoria'] = dim_situacao['situacao_nome'].apply(classificar_situacao)
dim_situacao['eh_aprovado'] = dim_situacao['situacao_nome'].apply(lambda x: 1 if x == 'Aprovado' else 0)
dim_situacao['eh_reprovado'] = dim_situacao['situacao_nome'].apply(lambda x: 1 if x == 'Reprovado' else 0)

dim_situacao = dim_situacao.reset_index().rename(columns={'index': 'id_situacao'}) # PK: id_situacao
print(f"Dimensão Situação criada: {len(dim_situacao)} situações finais únicas.")
print("-" * 50)


# 5. Criando a Dimensão Localização (DIM_LOCALIZACAO)
# O diagrama usa 'rpa' e 'endereco_bairro'. A coluna 'rpa' é do local da escola (Recife).
print("5. Criando a Dimensão Localização (DIM_LOCALIZACAO)...")
colunas_localizacao = ['rpa', 'endereco_bairro']
dim_localizacao = df_final[colunas_localizacao].drop_duplicates().reset_index(drop=True) # removemos duplicatas
dim_localizacao['desc_rpa'] = dim_localizacao['rpa'].apply(criar_desc_rpa)
dim_localizacao = dim_localizacao.reset_index().rename(columns={'index': 'id_locali'}) # PK: id_locali
print(f"Dimensão Localização criada: {len(dim_localizacao)} combinações únicas de RPA/Bairro.")
print("-" * 50)


# 6. Criando a Dimensão Tempo (DIM_TEMPO)
print("6. Criando a Dimensão Tempo (DIM_TEMPO)...")
colunas_tempo = ['ano']
dim_tempo = df_final[colunas_tempo].drop_duplicates().sort_values('ano').reset_index(drop=True) # removemos duplicatas
dim_tempo['ano_ensino'] = 'Registro Anual' # Placeholder para corresponder ao diagrama, se não tiver a coluna original
dim_tempo = dim_tempo.reset_index().rename(columns={'index': 'id_tempo'}) # PK: id_tempo
print(f"Dimensão Tempo criada: {len(dim_tempo)} anos registrados.")
print("-" * 50)





# Pré-visualização de todas as dimensões
print("\nPré-visualização das Dimensões:")
display(dim_aluno.head(2))
display(dim_escola.head(2))
display(dim_turma.head(2))
display(dim_situacao.head(2))
display(dim_localizacao.head(2))
display(dim_tempo.head(2))

NameError: name 'df_final' is not defined

In [17]:
tabela_fato = df_final.merge(dim_aluno, on=colunas_aluno, how='left')
tabela_fato = tabela_fato.merge(dim_escola, on=colunas_escola, how='left')
tabela_fato = tabela_fato.merge(dim_turma, on=colunas_turma, how='left')
tabela_fato = tabela_fato.merge(dim_situacao, on=colunas_situacao, how='left')
tabela_fato = tabela_fato.merge(dim_localizacao, on=colunas_localizacao, how='left')
tabela_fato = tabela_fato.merge(dim_tempo[['ano', 'id_tempo']], on='ano', how='left')

colunas_fato = [
    'id_aluno',
    'id_escola',
    'id_turma',
    'id_situacao',
    'id_locali',
    'id_tempo',
    'matricula'
]

fact_matricula = tabela_fato[colunas_fato]

**Estabelecer conexão com o dl**

In [18]:
%pip install sqlalchemy
%pip install psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\users\samsung\appdata\local\programs\python\python313\lib\site-packages (2.9.11)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:
url_db = "postgresql://postgres.jkgdzhpqywydnucbdfvp:postgres@aws-1-us-east-1.pooler.supabase.com:6543/postgres"

import psycopg2
import sqlalchemy

try:
  conn = psycopg2.connect(url_db)
  cursor = conn.cursor()

  cursor.execute("SELECT version();")
  print(cursor.fetchone())

except Exception as e:
  print("Erro ao se conectar: ", e)

('PostgreSQL 17.6 on aarch64-unknown-linux-gnu, compiled by gcc (GCC) 13.2.0, 64-bit',)

**Iniciando o Load**

In [20]:
try:
    engine = sqlalchemy.create_engine(url_db)
    print("Iniciando a carga do Esquema Estrela\n")
    
    print("Carregando Dimensão Aluno ")
    dim_aluno.to_sql('dim_aluno', con=engine, if_exists='replace', index=False)
    
    print("Carregando Dimensão Escola")
    dim_escola.to_sql('dim_escola', con=engine, if_exists='replace', index=False)
    
    print("Carregando Dimensão Localização ")
    dim_localizacao.to_sql('dim_localizacao', con=engine, if_exists='replace', index=False)
    
    print("Carregando Dimensão situação ")
    dim_situacao.to_sql('dim_situacao', con=engine, if_exists='replace', index=False)
    
    print("Carregando Dimensão Tempo ")
    dim_tempo.to_sql('dim_tempo', con=engine, if_exists='replace', index=False)

    print("Carregando Dimensão Turma ")
    dim_turma.to_sql('dim_turma', con=engine, if_exists='replace', index=False)

    print("Carregando Tabela Fato...")
    fact_matricula.to_sql('fato_matricula', con=engine, if_exists='replace', index=False)

    print("\nCARGA CONCLUÍDA! Todas as 6 tabelas do Esquema Estrela foram criadas.")

except Exception as e:
    print(f"\nERRO ao carregar os dados:")
    print(f"Erro ao carregar os dados: {e}")

Iniciando a carga do Esquema Estrela

Carregando Dimensão Aluno
Carregando Dimensão Escola
Carregando Dimensão Localização
Carregando Dimensão situação
Carregando Dimensão Tempo
Carregando Dimensão Turma
Carregando Tabela Fato...

CARGA CONCLUÍDA! Todas as 6 tabelas do Esquema Estrela foram criadas.